<div class="row">
    <div class="col-md-6">
        <a routerLink="/" class="btn btn-link"><i class="bi bi-arrow-left-circle-fill"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg></i> Back to Dashboard</a>
    </div>
    <div class="col-md-6"></div>
</div>

<div class="row">
    <div class="card">
        <div class="card-header">
            Edit Settings
        </div>
        <div class="card-body">
            <form (submit)="onSubmit()">
                <div class="form-group">
                    <label>Allow Registration</label>
                    <input type="checkbox" 
                    name="allowRegistration"
                    [checked]="settings.allowRegistration"
                    (change)="settings.allowRegistration =!settings.allowRegistration">
                </div>
                <div class="form-group">
                    <label>Disable Balance on-add</label>
                    <input type="checkbox" 
                    name="disableBalanceOnAdd"
                    [checked]="settings.disableBalanceOnAdd"
                    (change)="settings.disableBalanceOnAdd =!settings.disableBalanceOnAdd">
                </div>
                <div class="form-group">
                    <label>Disable Balance on-edit</label>
                    <input type="checkbox" 
                    name="disableBalanceOnEdit"
                    [checked]="settings.disableBalanceOnEdit"
                    (change)="settings.disableBalanceOnEdit =!settings.disableBalanceOnEdit">
                </div>

                <input type="submit" value="Submit" class="btn btn-block btn-primary">
            </form>
        </div>
    </div>
</div>